@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.15s;
    Box-sizing: border-box;
    Scroll-behavior:smooth;
}

body{
    background-color: #053B50;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 20px 20px ;
    align-items: center;
}

header p{
    font-size: 30px;
    font-weight: bold;
    color: #64CCC5;
}

header nav{
    display: flex;
    gap: 12px;
}

header nav a{
    text-decoration: none;
    color: #64CCC5;
    font-weight: 700;
    font-size: 19px;
    margin-top: 10px;
}

header nav a:active{
    transform: scale(0.9);
    color: #176B87;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.card{
    width: 93%;
    height: 160px;
    background-color: #64CCC5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #EEEEEE;
    padding-bottom: 4px;
}

.photo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px dashed #EEEEEE;
}

.information{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-top: 40px;
}

.information li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
}

.information li i{
    font-size: 15px;
    margin: 3px;
}

.information h4{
    text-decoration: underline;
}

#socialLinks{
    display: flex;
    justify-content: space-between;
    margin: 10px 60px 10px 0;
    position: relative;
    top: 5px;
}

#socialLinks i{
    font-size: 30px;
}

#socialLinks i:active{
    transform: scale(0.9);
    color: #053B50;
}
/*transition*/
.transition1{
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 100%;
    margin-top: 150px;
  }
.transition1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #64CCC5;
    transform: skew(0deg, 6deg);
  }
.transition1:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #64CCC5;
    transform: skew(0deg, -6deg);
}
/*section 2*/
.section2{
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.section2 div{
    width: 93%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
    line-height: 15px;
    border: dashed #64CCC5;
    padding: 5px;
    border-radius: 10px;
}
/*section 3*/
.section3{
    background-color: #64CCC5;
    width: 100%;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.projectTitle{
    font-size: 25px;
    color: #053B50;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    right: 30%;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    gap: 50px;
    margin-top: 60px;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #176B87;
    width: 92%;
    border-radius: 10px;
}

.project img{
    height: 100%;
    width: 95%;
    border: 2px dashed black;
    border-radius: 10px;
    margin-top: 10px;
}

.project img:active,.project img:hover{
    border: 9px solid #64CCC5;
    border-top: 3px solid #64CCC5;
}

.projectInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #64CCC5;
    width: 100%;
    text-decoration: none;
    margin: 20px 0 0 0;
    font-weight: bold;
}

.projectInfo p{
    margin-left: 30px;
    padding-bottom: 10px;
}

.projectInfo button{
    margin-right: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #EEEEEE;
    width: 50px;
    height: 35px;
    border: none;
    background-color: #64CCC5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectInfo button:active{
    background-color: #176B87;
    transform: scale(0.9);
}

/*transtition 2*/
.transition2 {
    position: relative;
    bottom: 50px;
    height: 117px;
    width: 100%;
    background: #64CCC5;
    
  }
  
  .transition2::before, .transition2::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .transition2::before {
    width: 55%;
    height: 109%;
    background-color: #053B50;
    right: 0;
    top: 60%;
  }
  .transition2::after {
    width: 55%;
    height: 100%;
    background-color: #64CCC5;
    left: -1.5%;
    top: 40%;
  }

/*section 4*/

.section4{
    background-color: #053B50;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 p{
    margin-top: 160px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #EEEEEE;
    width: 90%;
    padding-bottom: 10px;
}

/*transition 3*/

.transition3{
    background: rgb(255,255,255);
background: linear-gradient(180deg, #053B50 20%, #176B87 56%);
height: 100px;
}

/*section 5*/

.section5{
    background-color: #176B87;
    height: 100px;
}

.contactInfo{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactInfo div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 360px){
.card{
    height: 200px;
}
}

@media all and (max-width: 330px){
    .card{
        height: 250px;
    }
    }